
.box{
    height: 260px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding: 8px;
    background: #FFFFFF;
    outline: 1px solid #E0D8D7;
    border-bottom: 4px solid #ED1C24;  
    border-radius: 2px;
    box-sizing: border-box;

    @media screen and (max-width:1200px) {
        height: 280px;
    }

    @media screen and (max-width:764px){
        height: auto;
    }

    &__top{
        color: #400E03;
        padding: 16px 16px 0;

        h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 136%;
            padding-bottom: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            @media screen and (max-width:400px){
                font-size: 16px;
            }
        } //h3

        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
        } //p
    } //box_top

    button{
        width: 50%;

        &:first-child{
            margin-right: 8px;
        }
    }
}