@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}

.clear{
  display: block;
  font-size: 0;
  line-height: 0;
}

.bttn{
  font-weight: 700;
  text-transform: uppercase;
}

.bttn_primary{
  font-size: 16px;
  line-height: 20px;
  padding: 16px 24px;
  border: none;
  background: #FFFFFF;
  color: #ED1C24;
}

  @media screen and (max-width: 768px) {
    .bttn_primary{
      font-size: 14px;
      line-height: 20px;
      padding: 12px 20px;
    }
  }

.bttn_secondary{
  font-size: 12px;
  line-height: 15px;
  border: none;
  align-items: center;
  padding: 16px;
  border-radius: 2px; 
}

  @media screen and (max-width: 768px) {
    .bttn_secondary{
      padding: 10px 6px;
    }
  }

  .bttn_secondary_pink{
    color: #ED1C24;
    background: #FDE4E5;
  }

  .bttn_secondary_red{
    color: #FFFFFF;
    background: #ED1C24;
  }



.splide__arrow{
  width: 48px !important;
  height: 48px !important;
  background: #400E03 !important;
  border-radius: 2px !important;
}

.splide__arrow svg {
  fill: white !important;
}

.splide__pagination__page{
  background: #ED1C24 !important;
  width: 6px !important;
  height: 6px !important;
  margin: 6px !important;
}

.splide__pagination__page.is-active{
  width: 12px !important;
  height: 12px !important;
}

.splide__pagination {
  bottom: -2.5em!important;
}